
#title {
  text-align:center;
}

#description {
  text-align:center;
  font-size:25px;
  padding-top:20px;
  padding-bottom:20px;
}

#survey-form {
  display:block;
}
.rand {
  text-align:center;
}
.etichete {
  text-align:right;
  display:inline-block;
  font-size:20px;
  vertical-align:middle;
  width:40%;
  margin-right:10px;
  margin-bottom:18px;
}
.forme {
  display:inline-block;
  text-align:left;
  vertical-align:middle;
  margin-bottom:18px;
  width:48%;
}
.dropdown1 {
  width:36.9%;
  height:5%;
  font-size:15px;
}
#number-label {
  width:36%;
  height:20px;
  font-size:17px;
}
#email-label {
  width:36%;
  height:20px;
  font-size:17px;
}
#name-label {
  width:36%;
  height:20px;
  font-size:17px;
}
#prenume {
  width:36%;
  height:20px;
  font-size:17px;
}
#text-area {
  width:60%;
  height:70px;
  font-size:12px;
}
#submit {
  text-align:middle;
  width:10%;
  font-size:1.4em;
  margin-top:30px;
  margin-bottom:30px;
}


.stema {
  width:100%;
}

.titlu {
  display:inline-flex;
  flex-direction:row;
  align-items:center;
}

.stema-text {
  font-size:36px;
  color:white;
  flex-basis:142%;
}

.navbar {
  overflow: hidden;
  background-color: #673592;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #673592;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}


body {
  background: linear-gradient(to left, #42275a, #734b6d);
  margin-left:10%;
  margin-right:10%; 
}

.titluri {
  font-size: 30px;
  text-align:center;
  margin-right:25%;
}

aside {
  position: relative;
  float:right;
  /*top: 0px;
  bottom: 0px;*/
  border-style: solid;
  border-width: 0px 0px 0px 3px;
  padding-left:10px;
}

.paragraf {
  font-size: 20px;
}

.titluri-aside {
  text-align:center;
}

.salarii {
  color: black;
}

table, td, th {
  border:1px solid black;
}
